pytest
numpy
django==3.1.5
django-rest-swagger
djangorestframework==3.11.1
drf-yasg
django-extensions
django-annoying
dateparser
requests
injector
selenium
bs4
lazy-property==0.0.1
pandas
psycopg2-binary==2.8.4
IPython
jupyter
django-widget-tweaks==1.4.8